<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:aop="http://www.springframework.org/schema/aop"
	 xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	">
	
	<!--1.  读取配置文件jdbc -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="location">
				<value>classpath:resources/jdbc.properties</value>
			</property>
	</bean>
	
	<!-- 2. 配置数据源  dbcp -->
	<bean id="dbcpDataSource"  class="org.apache.commons.dbcp.BasicDataSource">
			<property name="driverClassName">
					<value>${driver}</value>
			</property>
			<property name="url">
					<value>${url}</value>
			</property>
			<property name="username"  value="${uname}"/>
			<property name="password"  value="${pwd}"/>
	</bean>
	
	<!--3. mybatis的工厂类：SqlSessionFactory 创建 -->
	<bean  id="sqlSessionFactory"  class="org.mybatis.spring.SqlSessionFactoryBean">
			<!-- 数据源 -->
			<property name="dataSource"  ref="dbcpDataSource"/>
			<!-- mybatis-config.xml的配置信息读取 -->
			<property name="configLocation"  value="classpath:resources/mybatis-config.xml"/>
	</bean>
	
	<!--4.  MapperScannerConfigurer 简化mapper配置 -->
	<bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="basePackage"  value="com.bdqn.mapper"/>
	</bean>
	
	<!-- 6. 创建事务管理对象 -->
	<bean id="txManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dbcpDataSource"></property>
	</bean>
	<!--7. 使用注解声明式事务 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
	
</beans>


